In [1]:
import re
import pandas as pd
import dhlab as dh

In [2]:
pd.set_option('display.max_rows', None, 'display.max_colwidth', None)

#### Bygge korpus

In [3]:
subject = 'lingvistikk'
corp_limit = 1000
from_year = 1950

In [4]:
corpus = dh.Corpus(doctype='digibok', subject=subject, limit=corp_limit, from_year=from_year)

In [5]:
#corpus

#### Finne konkordanser med årstall

In [6]:
year = 2024

tall = list(range(1000,year))

In [7]:
tallOR = ' OR '.join([str(x) for x in tall])

In [8]:
conc_limit = 4000

tallconc = dh.Concordance(corpus, tallOR, limit=conc_limit)

In [9]:
concs = tallconc.frame
concs.concordance = concs.concordance.apply(lambda x:x.replace('<b>', '').replace('</b>', '').replace('...', ''))
concs1 = concs[['urn', 'concordance']]

#### Finne siteringer

In [10]:
regex1 = r"(?:(?:NOU|nou)\s*\(?\s*\d{4}\s*:\s*\d{1,4}|(?:St\s*\.?\s*)?Meld\s*\.?\s*(?:St\s*\.?\s*)?(?:nr\s*\.?\s*)?\d{1,3}\s*\(?\s*\d{4}\s*-\s*\d{4}\s*\)?|Prop\s*\.?\s*\d{1,3}\s*[A-ZÆØÅ]\s*\(?\s*\d{4}\s*-\s*\d{4}\s*\)?)(?:\s*[,(]?\s*[PpSs]\s*\.?\s*\d{1,4})?"

In [11]:
def match_and_explode(c, regex):
    match = []
    
    for i in c.values:
        m = re.findall(regex, i[1])
        if m != []:
            match.append((i[0], m))

    match_df = pd.DataFrame(match)
    match_explode = match_df.explode(column=1)
    
    return match_explode

In [12]:
noustp = match_and_explode(concs1, regex1)

In [14]:
match_sorted = noustp.sort_values(by=0, ignore_index=True)
match_sorted

                                     0             1
0  URN:NBN:no-nb_digibok_2013020106047  NOU 2000 : 2